{% extends 'starter.html' %}
{% load static %}
{% load bootstrap %}
<!--
   Use as tags para invalidar parte dos códigos ou o block
   -->
{% block title %}
ExpNEP | Documentos
{% endblock %}
{% block header %}
<section class="content-header">
   <h1>
      Gerenciar Documentos
      <small>
      </small>
   </h1>
   <ol class="breadcrumb">
   </ol>
</section>
{% endblock %}

{% block main %}
<section class="content">
   <div class="row">

      <!-- Table documentos -->
       {% if object_list %}
      <div class="col-md-12">
         <div class="box box-default">
            <div class="box-header with-border">
               <i class="fa fa-th-list"></i>
               <h3 class="box-title">Lista de documentos</h3>
               <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                  </button>
               </div>
               <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">

               <form method="GET" action="">
               <div class="input-group input-group-sm">
                <input type="text" name="name" autofocus="" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-primary btn-flat"><i class="fa fa-search"></i> Pesquisar</button>
                    </span>
                 </div>
               </form>

                  <div class="box-body">
                     <div class="table-responsive">

                            <br>
                        <table class="table table-hover  table-sm ba">
                           <thead class="bg-secondary text-white">
                              <tr style="background-color:rgba(0, 0, 0, 0.1);">
                                 <th scope="col">#</th>
                                 <th scope="col">Documento</th>
                                 <th scope="col">Funcionário</th>
                                 <th>Edit</th>
                              </tr>
                           </thead>
                           <tbody id="myList">
                              {% for documento in object_list %}
                              <tr>
                                 <td>{{ documento.id }}</td>
                                 <td>{{ documento.nome }}</td>
                                 <td>{{ documento.pertence }}</td>
                              </tr>
                              {% endfor %}
                           </tbody>
                        </table>
                     </div>
                  </div>
            </div>
         </div>
      </div>
       {% endif %}

      <!-- Menssagem -->
       {% if not object_list %}
      <div class="col-md-12">
         <div class="box box-default">
            <div class="box-header with-border">
               <i class="fa fa-bullhorn"></i>
               <h3 class="box-title">Atenção</h3>
               <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                  </button>
               </div>
               <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
               <div class="callout callout-info">
                  <h4>Lista de documentos!</h4>
                  <p>Não existem registros no banco de dados.</p>
               </div>
            </div>
         </div>
         <!-- /.box-body -->
      </div>
       {% endif %}
      <!-- /.box -->
   </div>



</section>



{% endblock %}
{% block search_sidebar %}
{% endblock %}
{% block logo_sidebar %}
{% include 'block_logo_sidebar.html' %}
{% endblock %}
{% block topside_menu_messages %}
{% include 'block_topside_menu_messages.html' %}
{% endblock %}
{% block topside_menu_tasks %}
{% include 'block_topside_menu_tasks.html' %}
{% endblock %}
{% block topside_menu_notifications %}
{% include 'block_topside_menu_notifications.html' %}
{% endblock %}
{% block topside_useraccount_menu %}
{% include 'block_topside_useraccount_menu.html' %}
{% endblock %}
{% block userpanel_sidebar %}
{% include 'block_userpanel_sidebar.html' %}
{% endblock %}
{% block right_sidebar_custon %}
{% include 'block_right_sidebar_custon.html' %}
{% endblock %}
{% block menu_sidebar %}
{% include 'block_menu_sidebar.html' %}
{% endblock %}