{% load static %}

<li class="dropdown user user-menu">
   <!-- Menu Toggle Button -->
   <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <!-- The user image in the navbar-->
      {% if request.user.funcionario.image %}
           <img src="{{ request.user.funcionario.image.url }}" class="user-image" alt="User Image">
       {% endif %}
       {% if not request.user.funcionario.image %}
           <img src="{% static 'AdminLTE/dist/img/avatar5.png' %}" class="user-image" alt="User Image">
       {% endif %}

      <!-- hidden-xs hides the username on small devices so only the image appears. -->
      <span class="hidden-xs">{{ request.user.funcionario.nome }} {{ request.user.funcionario.sobrenome }}</span>
   </a>
   <ul class="dropdown-menu">
      <!-- The user image in the menu -->
      <li class="user-header">
         {% if request.user.funcionario.image %}
           <img src="{{ request.user.funcionario.image.url }}" class="img-circle" alt="User Image">
       {% endif %}
      {% if not request.user.funcionario.image %}
           <img src="{% static 'AdminLTE/dist/img/avatar5.png' %}" class="img-circle" alt="User Image">
       {% endif %}
         <p>
             <a style="color: #fdfdfd">{{ request.user.funcionario.nome }}</a>

             <span> - {{ request.user.funcionario.empresa }}</span>

             <small>{{ request.user.funcionario.funcao }}</small>

      </li>
      <!-- Menu Body -->
      <li class="user-body">
         <div class="row">
             <br>
            <div class="col-xs-4 text-center">
               <a href="#" class="btn-xs">Followers</a>
            </div>
            <div class="col-xs-4 text-center">
               <a href="#" class="btn-xs">Sales</a>
            </div>
            <div class="col-xs-4 text-center">
               <a href="#" class="btn-xs">Friends</a>
            </div>
             <br>
             <br>
         </div>
         <!-- /.row -->
      </li>
      <!-- Menu Footer-->
      <li class="user-footer">
         <div class="pull-left">
            <a href="/admin/" class="btn btn-default btn-sm">painel admin</a>
         </div>
         <div class="pull-right">
            <a href="/accounts/logout/" class="btn btn-danger btn-sm">Logout</a>
         </div>
      </li>
   </ul>
</li>