{% load static %}

<ul class="sidebar-menu" data-widget="tree">
   <li class="header">Gente</li>
   <!-- Optionally, you can add icons to the links -->

   <!--
   <li><a href="#"><i class="fa fa-users"></i> <span>QLP</span></a></li>
   -->
   {% if 'cadastro' in request.path %}
   <li class="treeview active">
   {% else %}
   <li class="treeview">
   {% endif %}
      <a href="#"><i class="fa fa-th"></i> <span>Cadastro</span>
      <span class="pull-right-container">
      <i class="fa fa-angle-left pull-right"></i>
      </span>
      </a>
      <ul class="treeview-menu">

         {% if 'funcionarios' in request.path %}
         <li class="active">
         {% else %}
         <li>
         {% endif %}
         <a href="{% url 'list_funcionario' %}"><i class="fa fa-plus-square-o"></i>Funcionários</a>
         </li>

         {% if 'departamentos' in request.path %}
         <li class="active">
         {% else %}
         <li>
         {% endif %}
         <a href="{% url 'list_departamento' %}"><i class="fa fa-plus-square-o"></i>Departamentos</a>
         </li>

      </ul>
   </li>

   <li><a href="#"><i class="fa fa-truck"></i> <span>Another Link</span></a></li>

   <li class="treeview">
      <a href="#"><i class="fa  fa-list-alt"></i> <span>Multilevel</span>
      <span class="pull-right-container">
      <i class="fa fa-angle-left pull-right"></i>
      </span>
      </a>
      <ul class="treeview-menu">
         <li><a href="#">Link in level 2</a></li>
         <li><a href="#">Link in level 2</a></li>
      </ul>
   </li>

</ul>