{% load static %}


<div class="user-panel">
   <div class="pull-left image">
       {% if request.user.funcionario.image %}
           <img src="{{ request.user.funcionario.image.url }}" class="img-circle" alt="User Image">
       {% endif %}
      {% if not request.user.funcionario.image %}
           <img src="{% static 'AdminLTE/dist/img/avatar5.png' %}" class="img-circle" alt="User Image">
       {% endif %}
   </div>
   <div class="pull-left info">
      <p>{{ request.user.funcionario.user }}</p>
      <!-- Status -->
      <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
   </div>
</div>