{% extends 'starter.html' %}
{% load static %}
{% load bootstrap %}
<!--
   Use as tags para invalidar parte dos códigos ou o block
   -->
{% block title %}
ExpNEP | Empresa
{% endblock %}
{% block header %}
<section class="content-header">
   <h1>
      Gerenciar Empresa
      <small>

      </small>
   </h1>
   <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i>Gerenciar Empresa</a></li>
      <li class="active"><a href="/">Home</a></li>
   </ol>
</section>
{% endblock %}
{% block main %}
<section class="content">
    <div class="row">
   <div class="col-md-12">

          <div class="box box-default">

            <div class="box-header with-border">
               <i class="fa fa-building-o"></i>
              <h3 class="box-title">Empresa</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <form method="post" role="form" autocomplete="off">
               {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                  {{ form|bootstrap }}
                    </div>
                </div>
               <div class="box-footer">
                   <div class="row">
                       <div class="pull-right">
                  <button type="submit" class="btn btn-primary">Save</button>
                       </div>
                   </div>
               </div>
            </form>
            </div>
            <!-- /.box-body -->
</div>
          <!-- /.box -->
</div>

        </div>
</section>
{% endblock %}
{% block search_sidebar %}
{% endblock %}
{% block logo_sidebar %}
{% include 'block_logo_sidebar.html' %}
{% endblock %}
{% block topside_menu_messages %}
{% include 'block_topside_menu_messages.html' %}
{% endblock %}
{% block topside_menu_tasks %}
{% include 'block_topside_menu_tasks.html' %}
{% endblock %}
{% block topside_menu_notifications %}
{% include 'block_topside_menu_notifications.html' %}
{% endblock %}
{% block topside_useraccount_menu %}
{% include 'block_topside_useraccount_menu.html' %}
{% endblock %}
{% block userpanel_sidebar %}
{% include 'block_userpanel_sidebar.html' %}
{% endblock %}
{% block right_sidebar_custon %}
{% include 'block_right_sidebar_custon.html' %}
{% endblock %}
{% block menu_sidebar %}
{% include 'block_menu_sidebar.html' %}
{% endblock %}